@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right, #A2EAF2, #F2F2F2);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #74dfebc8;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #A6A29F;
    text-align: center;
    text-shadow: 1px 1px 2px #ada9a6d7;

}

h2 {
    color: #262D40;
}

p{
    text-align: justify;
}